body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;

}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

body {
    color: #222222;
    font-family: "Roboto", "Helvetica", "sans-serif";
}

*{
    box-sizing: border-box;
}

.menu-bg{
    background: black;
    color: white;
}

.menu{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0px;
    margin: 0 auto;
}
.menu-logo{
    font-size:  13pt ;   
    font-weight: bold;
    margin: 0 10px;

}
.menu a{
    color: white;
}

.menu nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}
.menu nav a:hover{
    color: yellow;
}

.noticia{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}

.noticia-info{
    flex: 2 1 300px;
    margin: 0 10px;
}
.noticia-info h1{
    font-size: 2.25em;
    margin-bottom: .5em;
}
.noticia-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.noticia-info2 h1{
    font-size: 2.25em;
    margin-bottom: .5em;
}

.noticia-info2 p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}


.imagem{
    flex: 1 1 175px;
    margin: 10px;
}





footer{
    display: flex;
    padding: 20px;
    color: white;
    background-color: rgba(13, 13, 14, 0.884);
    align-items: center;
}

footer p{
    flex: 1;
    text-align: center;
}


