body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#menu a:hover {
    color:rgba(228, 158, 67, 0.856);
    text-decoration: underline;
    cursor: pointer;
}

#topo{
    padding:15px;
    display: flex;
    justify-content:space-between;
    background:rgba(184, 41, 41, 0.877);
    color: white;
    font-style: italic;
}



nav#menu  ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    background-color: rgba(13, 13, 14, 0.884);
    padding: 15px;
    box-shadow: black 1px 2px 5px;
}

#menu ul li{
    margin-left: 10px;

}

#menu ul li a{
    color: white;
    text-decoration: none;
}
ul{
    margin: 0 auto;
}

article{
	margin: 10px;
    text-align: center;
	font-size: 1.5em;
}

section{
    border: black;
    border-style:dotted ;
    border-bottom-width: 0;
    border-top-width: 2px;
    border-right-width: 0;
    border-left-width: 0;
}

article h1{
    text-align: center;
}

article  img{
    max-width: 430px;
}
section img{
    max-width: 430px;
}

article p{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
	text-align: center;
	font-size: 14pt;
}

article section h1{
    text-align: center;
    font-size: 15pt;
}



footer{
    display: flex;
    justify-content: center;
    padding: 12px;
    color: white;
    background-color: rgba(13, 13, 14, 0.884);
}

@media (max-device-width: 600px){
    article img{
        max-width: 330px;
        margin-left: 0px;
    }
    section img{
        max-width: 330px;
    }

    article p{
        text-align: left;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 14pt;
    }
    #topico{
        text-align: center;
        padding-left: 1%;
        padding-right: 1%;
    }
  
}

