#botao:hover{
    background: orange;
}

#senha, #email, #senha2, #nome, #data{
    border-radius: 50px;
    border: black 1px solid;
    padding-left: 5px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif; 
}

#botao{
    border-radius: 10px;
    border: black 1px solid;
    background-color: black;
    cursor: pointer;
    padding: 10px;
    color: white;
}

legend{
    text-align: center;
}


.container{
    background-color: rgba(175, 178, 182, 0.856);
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 45px;
    margin-left:500px;
    box-shadow: black 1px 2px 3px;
    
    
}


