table th{
    border: rgb(61, 59, 59) 1px solid;
    text-align: center;
    margin: auto;
    width: 40%;
    

}

table td{
    border: rgb(61, 59, 59) 1px solid;
    border-collapse: collapse;
     text-align: center;
     padding: 10px;
}



table{
    border: rgb(61, 59, 59) 1px solid;
    border-radius: 6px;
    margin: auto;
    border-collapse: collapse;
    

}

.dif{
    color:  rgba(241, 238, 238, 0.884);
    background-color: rgb(12, 12, 12); 
 
}

#corpoimg{
    max-width: 500px;
    margin: 0 auto;
}

#foto{
    max-width: 100%;
}